.square
{
  float: left;
  margin: 5pt;
  width: 72pt;
  height: 72pt;
  border: 1px solid black;
  padding: 2% 3%;
  text-align: center;
}
.weather-desc
{
  text-align: center;
  font-size: 45px;
  height: 131px;
}

.favorite{
    color: red;
}

div,span,p,button,a,input{
    font-weight:bold;
    color: #000;
}
div,span,p{
    font-size:15px;
}

svg.bi-heart
{
    margin-right:2%
}
.search-icon {
  position: absolute;
  top: 11%;
  left: 35%;
  height: 17px;
  width: 20px;
}

.city-name
{
  margin: 0px 35%;
  max-width: 32%;
  text-indent: 9.5%;
}
.cities-ddl {
  position: relative;
  left: 35%;
  list-style-type: none;
  font-weight: normal;
  font-size: 10px;
  border: 1px solid #d5cece;
  height: 25px;
  max-width: 32%;
  line-height: 25px;
  margin:0;
}
.cities-ddl li {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  left: -13%;
  width: 113%;
  background: #fff;
}
